<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Patient</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
<h2>Edit Patient</h2>
<form th:action="@{/patients/edit/{id}(id=${patient.patientid})}" th:object="${patient}" method="post">
    <label>Name: <input type="text" th:field="*{name}" required /></label><br/><br/>
    <label>Date of Birth: <input type="date" th:field="*{dateOfBirth}" required /></label><br/><br/>
    <label>Gender: <input type="text" th:field="*{gender}" required /></label><br/><br/>
    <label>Contact Number: <input type="text" th:field="*{contactNumber}" required /></label><br/><br/>
    <label>Address: <input type="text" th:field="*{address}" required /></label><br/><br/>
    <label>Medical History: <textarea th:field="*{medicalHistory}"></textarea></label><br/><br/>
    <button type="submit">Update Patient</button>
</form>
<a href="/patients">Back to Patients List</a>
</body>
</html>
